*{
    margin: 0;
    font-family: sans-serif;
}

body{
    height: 4000px;
    width: 90%;
    margin: auto;
}

nav{
    box-shadow: 2px 3px 5px 0px whitesmoke;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 88%;
    margin: auto;
}

.logo{
    width: 10%;
}

.main_menu{
    width: 88%;
}

.menu_1 a, .menu_2 a{
    text-decoration: none;
    font-size: 12px;
}

.menu_1{
    /* width: 88%;
    margin: auto; */
    display: flex;
    justify-content: space-between;
    margin-bottom: 22px;
    /* gap: 7rem; */
}

 .menu_1_left{
  margin-right: 20%;
} 

.menu_1 a{
    padding-right: 20px;
    color: #353029;
}

.menu_2 a{
    padding-right: 15px;
    font-size: 14px;
    color: #353029;
}

.menu_1 button{
    background-color: #ffbc0d;
    padding: 10px, 25px;
    border: none;
    border-radius: 4px;
    padding: 10px 30px;
}

.menu_1 .location{
    text-decoration: underline;
    color: #6d6fb3;
}

/* section 2 */
.sec2{
    height: 500px;
    width: 85%;
    margin: auto;
}

.sec2-{
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.sec2- .pic{
    height: 650px;
    width: 65%;
}

.sec2- .pic img{
    width: 100%;
}

.sec2- .straight{
    height: 650px;
    width: 35%;
    padding-top: 15px;
}

.sec2- .straight h1,h5,h6{
    margin-bottom: 25px;
}

.sec2- .straight h1{
    font-size: 37px;
}

.sec2- .straight h5,h6{
    font-weight: lighter;
    line-height: 25px;
}

.sec2- .straight button{
    background-color: #ffbc0d;
    color: black;
    border: none;
   border-radius: 4px;
   padding: 15px 20px;
}

/* section 3 */

.sec3{
    height: 500px;
    width: 85%;
    margin: auto;
}

.sec3-{
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.sec3- .pic{
    height: 650px;
    width: 65%;
}

.sec3- .pic img{
    width: 100%;
}

.sec3- .straight{
    height: 650px;
    width: 35%;
    padding-top: 15px;
}

.sec3- .straight h1,h5,h6{
    margin-bottom: 25px;
}

.sec3- .straight h1{
    font-size: 37px;
}

.sec3- .straight h5,h6{
    font-weight: lighter;
    line-height: 25px;
}

.sec3- .straight button{
    background-color: #ffbc0d;
    color: black;
    border: none;
   border-radius: 4px;
   padding: 15px 80px;
}


/* section 4 */
.sec4{
    height: 500px;
    width: 85%;
    margin: auto;
}

.sec4-{
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.sec4- .pic{
    height: 650px;
    width: 65%;
}

.sec4- .pic img{
    width: 100%;
}

.sec4- .straight{
    height: 650px;
    width: 35%;
    padding-top: 15px;
}

.sec4- .straight h1,h5,h6{
    margin-bottom: 25px;
}

.sec4- .straight h1{
    font-size: 37px;
}

.sec4- .straight h5,h6{
    font-weight: lighter;
    line-height: 25px;
}

.sec4- .straight button{
    background-color: #ffbc0d;
    color: black;
    border: none;
   border-radius: 4px;
   padding: 15px 60px;
}

/* section 5 */
.sec5{
    height: 500px;
    width: 85%;
    margin: auto;
}

.sec5-{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.sec5- .pic{
    height: 650px;
    width: 65%;
}

.sec5- .pic img{
    width: 100%;
}

.sec5- .straight{
    height: 650px;
    width: 35%;
    padding-top: 15px;
}

.sec5- .straight h1,h5,h6{
    margin-bottom: 25px;
}

.sec5- .straight h1{
    font-size: 37px;
}

.sec5- .straight h5,h6{
    font-weight: lighter;
    line-height: 25px;
}

.sec5- .straight button{
    background-color: #ffbc0d;
    color: black;
    border: none;
   border-radius: 4px;
   padding: 15px 60px;
}

/* section 6 */
.sec6{
    height: 500px;
    width: 85%;
    margin: auto;
}

.sec6-{
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.sec6- .pic{
    height: 650px;
    width: 65%;
}

.sec6- .pic img{
    width: 100%;
}

.sec6- .straight{
    height: 650px;
    width: 35%;
    padding-top: 15px;
}

.sec6- .straight h1,h5,h6{
    margin-bottom: 25px;
}

.sec6- .straight h1{
    font-size: 37px;
}

.sec6- .straight h5,h6{
    font-weight: lighter;
    line-height: 25px;
}

.sec6- .straight button{
    background-color: #ffbc0d;
    color: black;
    border: none;
   border-radius: 4px;
   padding: 15px 60px;
}

/* section  7 */

.sec7{
    height: 500px;
    width: 85%;
    margin: auto;
}

.sec7-{
    margin-top: rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.sec7- .pic{
    height: 650px;
    width: 65%;
}

.sec7- .pic img{
    width: 100%;
}

.sec7- .straight{
    height: 650px;
    width: 35%;
    padding-top: 15px;
}

.sec7- .straight h1,h5,h6{
    margin-bottom: 25px;
}

.sec7- .straight h1{
    font-size: 37px;
}

.sec7- .straight h5,h6{
    font-weight: lighter;
    line-height: 25px;
}

.sec7- .straight button{
    background-color: #ffbc0d;
    color: black;
    border: none;
   border-radius: 4px;
   padding: 15px 60px;
}

/* footer */
.foot{
    height: 700px;
    width: 95%;
    margin: auto;
    /* background-color: aqua;  */
}

.foot .foot-{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: rem;
}

.foot .foot- ul li{
    line-height: 2rem;
   list-style: none;
}

.com{
    margin-bottom: 9%;
}

.about{
    margin-bottom: 1rem;
}

.media{
    height: 100px;
    width: 90%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

hr{
    width: 90%;
    margin: auto;
    margin-bottom: 2rem;
}

.pri{
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 7rem; */

}

.pri .pri-{
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
    gap: 1rem;
}

.pri .pri2{
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
    padding-left: 5rem;
}

.pri .pri2 img{
    width: 8%;
}

.do{
    width: 90%;
    margin: auto;
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
} 